@import "tailwindcss";

@theme {
  --color-background: #101317;
  --color-surface: #171B22;
  --color-card: #1F2630;
  
  --color-primary: #F5F5F5;
  --color-secondary: #AEB4C0;
  
  --color-success: #3FA96B;
  --color-warning: #E5B25D;
  --color-danger: #E06B6B;
  --color-info: #4E8EF7;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-primary);
  }
}
